In [3]:
# Import the pathlib, csv,pandas, NumPy (for most calculations) and statistics library
import os
import csv
import pandas as pd
import statistics
import numpy as np

# This is your current working directory (cwd)
print(os.getcwd()) # This is your current working directory (cwd)

/Users/jc/Desktop/FinTech/python-homework/PyBank

In [6]:
# Set the file path
csvpath ='/Users/jc/Desktop/FinTech/python-homework/PyBank/Data/Homework_02-Python_Instructions_PyBank_Resources_budget_data.csv'

In [13]:
df = pd.read_csv('/Users/jc/Desktop/FinTech/python-homework/PyBank/Data/Homework_02-Python_Instructions_PyBank_Resources_budget_data.csv')
# Print Head of PyBank_Resources_budget_data
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [18]:
# The total number of months included in the dataset

months = len(df['Date'])

print(f"Total Months: {months}")

Total Months: 86

In [19]:
# The net total amount of Profit/Losses over the entire period.

total = 0

for item in df['Profit/Losses']:
    total += item
    
print(f"Total: ${total}")

Total: $38382578

In [23]:
# Create a list with The greatest increase and decrese in profits

increase_profit = []

for i in range(1,len(df)):
    increase_profit.append(df['Profit/Losses'][i]-df['Profit/Losses'][i-1])
print(increase_profit)

[116771, -662642, -391430, 379920, 212354, 510239, -428211, -821271, 693918, 416278, -974163, 860159, -1115009, 1033048, 95318, -308093, 99052, -521393, 605450, 231727, -65187, -702716, 177975, -1065544, 1926159, -917805, 898730, -334262, -246499, -64055, -1529236, 1497596, 304914, -635801, 398319, -183161, -37864, -253689, 403655, 94168, 306877, -83000, 210462, -2196167, 1465222, -956983, 1838447, -468003, -64602, 206242, -242155, -449079, 315198, 241099, 111540, 365942, -219310, -368665, 409837, 151210, -110244, -341938, -1212159, 683246, -70825, 335594, 417334, -272194, -236462, 657432, -211262, -128237, -1750387, 925441, 932089, -311434, 267252, -1876758, 1733696, 198551, -665765, 693229, -734926, 77242, 532869]

In [75]:
#. The average of the changes in Profit/Losses over the entire period.

average = round(sum(increase_profit)/len(increase_profit),2)


print(f"Average  Change: ${average}")

Average  Change: $-2315.12

In [76]:
# The greatest increase in profits over the entire period.

increase = max(increase_profit)

print(increase)

1926159

In [77]:
# index of increase in increase_profit

index = increase_profit.index(increase)

print('The index of increase:', index)

The index of increase: 24

In [78]:
# The greatest increase in profits (date and amount) over the entire period.

month_prof = str(df['Date'][index+1])
profit = str(increase_profit[index])

print(f"Greatest Increase in Profits: {month_prof} $({profit})")

Greatest Increase in Profits: Feb-2012 $(1926159)

In [79]:
# The greatest decrease in losses over the entire period.

decrease = min(increase_profit)

print(decrease)

-2196167

In [80]:
# index of decrease in losses

index = increase_profit.index(decrease)

print('The index of increase:', index)

The index of increase: 43

In [81]:
# The greatest decrease in losses (date and amount) over the entire period.

month = str(df['Date'][index+1])
losses = str(increase_profit[index])

print(f"Greatest Decrease in Profits: {month} $({losses})")

Greatest Decrease in Profits: Sep-2013 $(-2196167)

In [82]:
print(f"Total Months: {months}")
print(f"Total: ${total}")
print(f"Average  Change: ${average}")
print(f"Greatest Increase in Profits: {month_prof} $({profit})")
print(f"Greatest Decrease in Profits: {month} $({losses})")

Total Months: 86
Total: $38382578
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 $(1926159)
Greatest Decrease in Profits: Sep-2013 $(-2196167)