In [25]:
# Import the pathlib, csv,pandas, NumPy (for most calculations) and statistics library
import os
import csv
import pandas as pd
import statistics
import numpy as np

# This is your current working directory (cwd)
print(os.getcwd()) # This is your current working directory (cwd)

/Users/jc/Desktop/FinTech/python-homework/PyBank

In [26]:
# Set the file path
csvpath ='/Users/jc/Desktop/FinTech/python-homework/PyBank/Data/Homework_02-Python_Instructions_PyBank_Resources_budget_data.csv'

In [4]:
# Define a function

df = pd.read_csv('/Users/jc/Desktop/FinTech/python-homework/PyBank/Data/Homework_02-Python_Instructions_PyBank_Resources_budget_data.csv')

df.tail()

        Date  Profit/Losses
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

In [5]:
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [21]:
# Set the file path
csvpath ='/Users/jc/Desktop/FinTech/python-homework/PyBank/Data/Homework_02-Python_Instructions_PyBank_Resources_budget_data.csv'

In [7]:
df.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [8]:

months = len(df['Date'])

print("The total number of months included in the dataset")
print(months)

The total number of months included in the dataset
86

In [9]:
total = 0
for item in df['Profit/Losses']:
    total += item
    
print("The net total amount of Profit/Losses over the entire period")
print(total)

The net total amount of Profit/Losses over the entire period
38382578

In [10]:

average = total/months
print(average)

446309.0465116279

In [11]:
increase_profit = []

for i in range(1,len(df)):
    increase_profit.append(df['Profit/Losses'][i]-df['Profit/Losses'][i-1])
print(increase_profit)

[116771, -662642, -391430, 379920, 212354, 510239, -428211, -821271, 693918, 416278, -974163, 860159, -1115009, 1033048, 95318, -308093, 99052, -521393, 605450, 231727, -65187, -702716, 177975, -1065544, 1926159, -917805, 898730, -334262, -246499, -64055, -1529236, 1497596, 304914, -635801, 398319, -183161, -37864, -253689, 403655, 94168, 306877, -83000, 210462, -2196167, 1465222, -956983, 1838447, -468003, -64602, 206242, -242155, -449079, 315198, 241099, 111540, 365942, -219310, -368665, 409837, 151210, -110244, -341938, -1212159, 683246, -70825, 335594, 417334, -272194, -236462, 657432, -211262, -128237, -1750387, 925441, 932089, -311434, 267252, -1876758, 1733696, 198551, -665765, 693229, -734926, 77242, 532869]

In [12]:
print("The greatest increase in profits over the entire period")
increase = max(increase_profit)
print(increase)

The greatest increase in profits over the entire period
1926159

In [13]:
print("The greatest decrease in losses over the entire period")
decrease = min(increase_profit)
print(decrease)

The greatest decrease in losses over the entire period
-2196167

In [14]:
average = sum(increase_profit)/len(increase_profit)

print(average)

-2315.1176470588234

In [15]:
# index of increase in increase_profit

index = increase_profit.index(increase)
print('The index of increase:', index)

The index of increase: 24

In [16]:
dates = []

print(df['Date'][index+1])

print(str(df['Date'][index+1])+" "+str(increase_profit[index]))

for item in df['Date']:
    dates.append(item)
   
print(dates)
print(index)

Feb-2012
Feb-2012 1926159
['Jan-2010', 'Feb-2010', 'Mar-2010', 'Apr-2010', 'May-2010', 'Jun-2010', 'Jul-2010', 'Aug-2010', 'Sep-2010', 'Oct-2010', 'Nov-2010', 'Dec-2010', 'Jan-2011', 'Feb-2011', 'Mar-2011', 'Apr-2011', 'May-2011', 'Jun-2011', 'Jul-2011', 'Aug-2011', 'Sep-2011', 'Oct-2011', 'Nov-2011', 'Dec-2011', 'Jan-2012', 'Feb-2012', 'Mar-2012', 'Apr-2012', 'May-2012', 'Jun-2012', 'Jul-2012', 'Aug-2012', 'Sep-2012', 'Oct-2012', 'Nov-2012', 'Dec-2012', 'Jan-2013', 'Feb-2013', 'Mar-2013', 'Apr-2013', 'May-2013', 'Jun-2013', 'Jul-2013', 'Aug-2013', 'Sep-2013', 'Oct-2013', 'Nov-2013', 'Dec-2013', 'Jan-2014', 'Feb-2014', 'Mar-2014', 'Apr-2014', 'May-2014', 'Jun-2014', 'Jul-2014', 'Aug-2014', 'Sep-2014', 'Oct-2014', 'Nov-2014', 'Dec-2014', 'Jan-2015', 'Feb-2015', 'Mar-2015', 'Apr-2015', 'May-2015', 'Jun-2015', 'Jul-2015', 'Aug-2015', 'Sep-2015', 'Oct-2015', 'Nov-2015', 'Dec-2015', 'Jan-2016', 'Feb-2016', 'Mar-2016', 'Apr-2016', 'May-2016', 'Jun-2016', 'Jul-2016', 'Aug-2016', 'Sep-2016', 'Oct-2016', 'Nov-2016', 'Dec-2016', 'Jan-2017', 'Feb-2017']
24

In [17]:
print(dates[index])

Jan-2012

In [18]:
print(df.index)

RangeIndex(start=0, stop=86, step=1)

In [22]:
## Option #1 calculate sum of months

Total_months = -1

for row in open(csvpath):
    Total_months += 1

print("The total number of months included in the dataset ")
print(Total_months)

The total number of months included in the dataset
86

In [ ]:
for i in range(df)

In [23]:
# Initialize variable to hold Net_Profit
Total_Profit_Losses = []

# Initialize line_num variable
line_num = 0

# Open the input path as a file object
with open(csvpath, 'r') as csvfile:

    # Pass in the csv file to the csv.reader() function
    # (with ',' as the delmiter/separator) and return the csvreader object
    csvreader = csv.reader(csvfile, delimiter=',')
    
    # Go to the next row from the start of the file
    # (which is often the first row/header) and iterate line_num by 1
    header = next(csvreader)
    
    line_num += 1
    
    
    # Read each row of data after the header
    for row in csvreader:
        
        # Set profit and losses variable equal to the value in the 2th column of each row
        profit_losses = int(row[1])
        
        # Append the row profit and losses value to the list of Total Profit Losses 
        Total_Profit_Losses.append(profit_losses)
        
print("The total number of months included in the dataset "+str(len(Total_Profit_Losses)))        
        
print("The net total amount of Profit/Losses over the entire period: $"+str(sum(Total_Profit_Losses)))

print("The average of the changes in Profit/Losses over the entire period. "+str(statistics.mean(Total_Profit_Losses)))

The total number of months included in the dataset 86
The net total amount of Profit/Losses over the entire period: $38382578
The average of the changes in Profit/Losses over the entire period. 446309.0465116279

In [24]:
# Initialize metric variables
Increase_profit = 0
Decrease_profit = 0
avg_change = 0
total_net = 0
count_net = 0

# Calculate the max, mean, and average of the list of Profit/Losses

for net_profit in profit:

    # Sum the total and count variables
    total_net += profit
    count_net += 1
    
    # Logic to determine min and max profit
    if Decrease_profit == 0:
        Decrease_profit = profit
    elif profit > Increase_profit:
        Increase_profit = profit
    elif profit < Decrease_profit:
        Decrease_profit = profit

# Calculate the average salary, round to the nearest 2 decimal places
avg_change = round(total_net / count_net, 2)

print(Increase_profit, Decrease_profit, avg_change)

NameError: name 'profit' is not defined